.rating__item {
  border: none;
  width: 60px;
  height: 60px;
  font-family: var(--fontFamily);
  font-size: 18px;
  color: var(--colorMediumGray);
  border-radius: 50%;
  background-color: var(--colorDarkBlue200);
}
